* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

.container, .main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.login-box, .profile-box, form {
    width: 300px;
    margin: 20px auto;
}

button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

/* Responsividad */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    .login-box, .profile-box, form {
        width: 100%;
    }

    button {
        width: 100%;
    }
}
#dashboard-options {
    padding: 20px;
    text-align: center;
}

#dashboard-options h2 {
    margin-bottom: 20px;
    color: #ddd;
}

#dashboard-options ul {
    list-style: none;
    padding: 0;
}

#dashboard-options ul li {
    margin: 10px 0;
}

#dashboard-options ul li a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

#dashboard-options ul li a:hover {
    background-color: #0056b3;
}
body {
    font-family: Arial, sans-serif;
 
      
      
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fafafa;
}
.fondo{
    background-image: url('../img/itesg.jpg');
    background-size: cover;  
    background-position: center; 
    height: 100vh;
   
}
/* Animación de rotación infinita */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.img-rotate {
    animation: spin 5s linear infinite; /* Gira la imagen en 5 segundos, de manera infinita */
}

/* Efecto de zoom al pasar el ratón */
.img-zoom {
    transition: transform 0.5s ease;
}

.img-zoom:hover {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen en un 20% */
}
